<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.myBatis.dao.RoomInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dyz.myBatis.model.RoomInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gameType" property="gametype" jdbcType="CHAR" />
    <result column="isHong" property="ishong" jdbcType="CHAR" />
    <result column="roomid" property="roomid" jdbcType="INTEGER" />
    <result column="sevenDouble" property="sevendouble" jdbcType="CHAR" />
    <result column="ma" property="ma" jdbcType="INTEGER" />
    <result column="zimo" property="zimo" jdbcType="CHAR" />
    <result column="xiayu" property="xiayu" jdbcType="INTEGER" />
    <result column="addWordCard" property="addwordcard" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result  column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="cardNumb" property="cardNumb" jdbcType="INTEGER" />
    <result column="chengbei" jdbcType="CHAR" property="chengbei" />
    <result column="aa" jdbcType="CHAR" property="aa" />
    <result column="zushu" jdbcType="INTEGER" property="zushu" />
    <result column="paofen" jdbcType="INTEGER" property="paofen" />
    <result column="roundtype" jdbcType="INTEGER" property="roundtype" />
    <result column="yuanzishu" jdbcType="INTEGER" property="yuanzishu" />
    <result column="yuanzijiesu" jdbcType="INTEGER" property="yuanzijiesu" />
    <result column="zhanzhuangbi" jdbcType="CHAR" property="zhanzhuangbi" />
    <result column="guozhuangbi" jdbcType="CHAR" property="guozhuangbi" />
    <result column="fengfa" jdbcType="CHAR" property="fengfa" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gameType, isHong, roomid, sevenDouble, ma, zimo, xiayu, addWordCard, name, createTime, cardNumb, chengbei, aa, zushu, paofen, roundtype, yuanzishu, yuanzijiesu, zhanzhuangbi,
    guozhuangbi, fengfa
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roominfo
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectRoomId"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
  	id
    <include refid="Base_Column_List" />
    from roominfo
    where roomid = #{roomid,jdbcType=INTEGER}
  </select>
  <!-- 统计房间总数 -->
  <select id="selectCount" resultType="INTEGER">
  	select count(id)
  	from roominfo
  </select>
   <!-- 统计今天创建房间总数 -->
  <select id="selectTodayCount" resultType="INTEGER" parameterType="DATE">
  	select count(id)
  	from roominfo where createTime  &gt; #{createTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roominfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dyz.myBatis.model.RoomInfo" keyProperty="id" useGeneratedKeys="true"  >
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into roominfo (id, gameType, isHong,
    roomid, sevenDouble, ma,
    zimo, xiayu, addWordCard,
    name, createTime, cardNumb,
    chengbei, aa, zushu, paofen,
    roundtype, yuanzishu, yuanzijiesu,
    zhanzhuangbi, guozhuangbi, fengfa
    )
    values (#{id,jdbcType=INTEGER}, #{gametype,jdbcType=CHAR}, #{ishong,jdbcType=CHAR},
    #{roomid,jdbcType=INTEGER}, #{sevendouble,jdbcType=CHAR}, #{ma,jdbcType=INTEGER},
    #{zimo,jdbcType=CHAR}, #{xiayu,jdbcType=INTEGER}, #{addwordcard,jdbcType=CHAR},
    #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{cardNumb,jdbcType=INTEGER},
    #{chengbei,jdbcType=CHAR}, #{aa,jdbcType=CHAR}, #{zushu,jdbcType=INTEGER}, #{paofen,jdbcType=INTEGER},
    #{roundtype,jdbcType=INTEGER}, #{yuanzishu,jdbcType=INTEGER}, #{yuanzijiesu,jdbcType=INTEGER},
    #{zhanzhuangbi,jdbcType=CHAR}, #{guozhuangbi,jdbcType=CHAR}, #{fengfa,jdbcType=CHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dyz.myBatis.model.RoomInfo"  keyProperty="id" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into roominfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gametype != null">
        gameType,
      </if>
      <if test="ishong != null">
        isHong,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="sevendouble != null">
        sevenDouble,
      </if>
      <if test="ma != null">
        ma,
      </if>
      <if test="zimo != null">
        zimo,
      </if>
      <if test="xiayu != null">
        xiayu,
      </if>
      <if test="addwordcard != null">
        addWordCard,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="cardNumb != null">
        cardNumb,
      </if>
      <if test="chengbei != null">
        chengbei,
      </if>
      <if test="aa != null">
        aa,
      </if>
      <if test="zushu != null">
        zushu,
      </if>
      <if test="paofen != null">
        paofen,
      </if>
      <if test="roundtype != null">
        roundtype,
      </if>
      <if test="yuanzishu != null">
        yuanzishu,
      </if>
      <if test="yuanzijiesu != null">
        yuanzijiesu,
      </if>
      <if test="zhanzhuangbi != null">
        zhanzhuangbi,
      </if>
      <if test="guozhuangbi != null">
        guozhuangbi,
      </if>
      <if test="fengfa != null">
        fengfa,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=CHAR},
      </if>
      <if test="ishong != null">
        #{ishong,jdbcType=CHAR},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="sevendouble != null">
        #{sevendouble,jdbcType=CHAR},
      </if>
      <if test="ma != null">
        #{ma,jdbcType=INTEGER},
      </if>
      <if test="zimo != null">
        #{zimo,jdbcType=CHAR},
      </if>
      <if test="xiayu != null">
        #{xiayu,jdbcType=INTEGER},
      </if>
      <if test="addwordcard != null">
        #{addwordcard,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNumb != null">
        #{cardNumb,jdbcType=INTEGER},
      </if>
      <if test="chengbei != null">
        #{chengbei,jdbcType=CHAR},
      </if>
      <if test="aa != null">
        #{aa,jdbcType=CHAR},
      </if>
      <if test="zushu != null">
        #{zushu,jdbcType=INTEGER},
      </if>
      <if test="paofen != null">
        #{paofen,jdbcType=INTEGER},
      </if>
      <if test="roundtype != null">
        #{roundtype,jdbcType=INTEGER},
      </if>
      <if test="yuanzishu != null">
        #{yuanzishu,jdbcType=INTEGER},
      </if>
      <if test="yuanzijiesu != null">
        #{yuanzijiesu,jdbcType=INTEGER},
      </if>
      <if test="zhanzhuangbi != null">
        #{zhanzhuangbi,jdbcType=CHAR},
      </if>
      <if test="guozhuangbi != null">
        #{guozhuangbi,jdbcType=CHAR},
      </if>
      <if test="fengfa != null">
        #{fengfa,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyz.myBatis.model.RoomInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update roominfo
    <set>
      <if test="gametype != null">
        gameType = #{gametype,jdbcType=CHAR},
      </if>
      <if test="ishong != null">
        isHong = #{ishong,jdbcType=CHAR},
      </if>
      <if test="roomid != null">
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="sevendouble != null">
        sevenDouble = #{sevendouble,jdbcType=CHAR},
      </if>
      <if test="ma != null">
        ma = #{ma,jdbcType=INTEGER},
      </if>
      <if test="zimo != null">
        zimo = #{zimo,jdbcType=CHAR},
      </if>
      <if test="xiayu != null">
        xiayu = #{xiayu,jdbcType=INTEGER},
      </if>
      <if test="addwordcard != null">
        addWordCard = #{addwordcard,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNumb != null">
        cardNumb = #{cardNumb,jdbcType=INTEGER},
      </if>
      <if test="chengbei != null">
        chengbei = #{chengbei,jdbcType=CHAR},
      </if>
      <if test="aa != null">
        aa = #{aa,jdbcType=CHAR},
      </if>
      <if test="zushu != null">
        zushu = #{zushu,jdbcType=INTEGER},
      </if>
      <if test="paofen != null">
        paofen = #{paofen,jdbcType=INTEGER},
      </if>
      <if test="roundtype != null">
        roundtype = #{roundtype,jdbcType=INTEGER},
      </if>
      <if test="yuanzishu != null">
        yuanzishu = #{yuanzishu,jdbcType=INTEGER},
      </if>
      <if test="yuanzijiesu != null">
        yuanzijiesu = #{yuanzijiesu,jdbcType=INTEGER},
      </if>
      <if test="zhanzhuangbi != null">
        zhanzhuangbi = #{zhanzhuangbi,jdbcType=CHAR},
      </if>
      <if test="guozhuangbi != null">
        guozhuangbi = #{guozhuangbi,jdbcType=CHAR},
      </if>
      <if test="fengfa != null">
        fengfa = #{fengfa,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyz.myBatis.model.RoomInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update roominfo
    set gameType = #{gametype,jdbcType=CHAR},
    isHong = #{ishong,jdbcType=CHAR},
    roomid = #{roomid,jdbcType=INTEGER},
    sevenDouble = #{sevendouble,jdbcType=CHAR},
    ma = #{ma,jdbcType=INTEGER},
    zimo = #{zimo,jdbcType=CHAR},
    xiayu = #{xiayu,jdbcType=INTEGER},
    addWordCard = #{addwordcard,jdbcType=CHAR},
    name = #{name,jdbcType=VARCHAR},
    createTime = #{createTime,jdbcType=TIMESTAMP},
    cardNumb = #{cardNumb,jdbcType=INTEGER},
    chengbei = #{chengbei,jdbcType=CHAR},
    aa = #{aa,jdbcType=CHAR},
    zushu = #{zushu,jdbcType=INTEGER},
    paofen = #{paofen,jdbcType=INTEGER},
    roundtype = #{roundtype,jdbcType=INTEGER},
    yuanzishu = #{yuanzishu,jdbcType=INTEGER},
    yuanzijiesu = #{yuanzijiesu,jdbcType=INTEGER},
    zhanzhuangbi = #{zhanzhuangbi,jdbcType=CHAR},
    guozhuangbi = #{guozhuangbi,jdbcType=CHAR},
    fengfa = #{fengfa,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>